@import "variables";

.error-modal-container{
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top:0px;
    transition: 0.2 ease-in;
}

.error-modal-container_active{
    opacity:1;
    transition: 0.2 ease-in;
    pointer-events: all;
}
.error-modal-btn{
    font-size: $Small;
}