@import "variables";

.footer-container {
	background: $black;
	padding: 2%;
	display: grid;
	color: $white;
	grid-template-columns: 1fr 2fr;
}

.api-icons-container {
	display: flex;
	justify-content: space-evenly;
}