@import "variables";


.front-container {
	height: 100vh;
	display: grid;
	background: #e9ecef;
	grid-template-columns: 2fr 1fr;
	background-image: url("https://tec.mx/sites/default/files/inline-images/doctores-trajes-biomedicos-covid-19.jpg");
	@include img;

	/* background-color: black; */
	background-blend-mode: overlay;
	background-color: #00000057;
}

.front-title-container {
	/* font-size: 10vw; */
	align-self: center;
	justify-self: center;
	font-size: 12vw;
	color:$white;
	text-transform: capitalize;
	font-weight: 600;
}
.front-title {
    padding: 1%;
}


.info-card-super{
	align-self: center;

}

.info-card-container{
	padding: 5%;
	margin: 5%;
}

.info-card-container{
	font-size: $Small-Big;
	background: $white;
}

.info-card-title{
	font-weight: 600;
	padding: 2%;
}


.info-card-item-container {
	padding: 3.5% 3%;
	display: grid;
	grid-template-columns: 1fr 1fr;
//@include	@include flex-row-align-space-between;
}

.info-card-new {
	font-size: $Small;
	text-align: right;
	font-size: $XSmall;

}
.info-card-data-container {
	display: flex;
	justify-self: end;
	flex-direction: column;
}

.info-card-item-container:nth-child(2) .info-card-item-label{
	background: $red;
}


.info-card-item-container:nth-child(3) .info-card-item-label{
	background: $orange;
	background: $yellow;
}


.info-card-item-container:nth-child(4) .info-card-item-label{
	background: $blue;
	//background: $green;
}

.info-card-item-label{
	padding: 2%;
}

@media (max-width: 600px){
	.front-container {
		min-height: 450px;
		grid-template-columns: auto;
	}
	.front-title-container{
		text-align: center;
	}
	
}