@import "variables";

.front-container {
	height: 100vh;
	display: grid;
	grid-template-columns: 2fr 1fr;
}

.front-title-container {
	/* font-size: 10vw; */
	align-self: center;
	justify-self: center;
	font-size: 12vw;
}
.front-title {
    padding: 1%;
	background: $gray-200;
}