@import "variables";

.search-main-input-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 1%;
}

.search-main-input {
	padding: 1%;
	background: #f4f4f4;
    
    
}

.search-res-container-super{
	position: absolute; 

	width: 100%;
}

.search-res-item-container {
	width: 100%;
	align-content:center ;
	align-items: center;
	display: grid;
	justify-items: center;
	/* transform: translateY(45px); */
}

.search-res-item {
	padding: 1%;
	text-align: center;
	width: 50%;
	background: #eaeaea;
	cursor: pointer;
	transition: 0.2s;
}

.search-res-item:nth-child(2n){
	background: $gray-300;
}

.search-res-item:hover {
	background: $blue;
	transition: 0.2s;
}