@import "variables";

.search-main-input-container {
	display: flex;
	flex-direction: column;
		align-items: center;
	justify-content: center;
	padding: 1%;
	display:grid;
	background: $black;
}


.search-main-input {
	padding: 1%;
	background: $white;
	font-size: $Normal;
    
}
.search-input-label {
	color: white;
	padding: 1%;
	font-weight: 600;
	font-size: $Small;

}


.search-res-container-super{
	z-index: 2;
	display: flex;
	align-items: center;
	flex-direction: column;
	font-size: $Small;
	font-weight: 600;
	background:#0000005e;


}

.search-res-item-container {
	align-content:center ;
	align-items: center;
	display: grid;
	justify-items: center;
	color: $white;
}


.search-res-item {
	padding: 1%;
	text-align: center;
	background: $black;
	cursor: pointer;
	color: white;
	font-size: $Small;
	transition: 0.2s;
}


.search-res-item:hover {
	background: darken($blue, 20%);
	transition: 0.2s;
}


@media (max-width: 650px){

	.search-res-item{
		width: 50%;
		padding: 3% 4%;
	}
	.search-main-input{
		padding: 2%;

	}

}